.actionone{
    font-family:Indie Flower;
    text-align:center;
    }

.actiontwo{
    font-family:Indie Flower;
    }
    
.maggie{
    display: block;
    margin: 0 auto;
    width:200px;
    }
    
.pacifier{
    width:200px;
    
    }
    
.bart{
    float:right;
    }

.actionthree{
    float:right;
    font-family:Indie Flower;
    }
    
.actionfour{
    font-family:Indie Flower;
    }
    
.starter{
    font-family:Indie Flower;
    text-align:center;
    }    
    
button{
    font-family:Indie Flower;
    display: block;
    margin: 0 auto;
    font-weight:bold;
    
    }    
.actionfive{
    font-family:Indie Flower;
    }
    